
html, body {
  margin: 0;
  padding: 0;
}

html {
  color: black;
  font-size: 100%;
  line-height: 1.4;
  font-family: 'Lora', serif;
  min-width: 18em;
  background-color: #2f2926;
}

body {
  background-color: white;
}

a, a:visited {
  color: #2f2926;
}

header, section, footer {
  margin: 0;
  padding: 0.5em 1em;
}

@media only screen and (min-width: 840px) {
  header, section, footer {
    padding: 0.5em 5em;
  }
}

@media only screen and (min-width: 1200px) {
  header, section, footer {
    padding: 0.5em 12em;
  }
}

header, footer, header a, footer a, header a:visited, footer a:visited {
  background: #2f2926;
  color: white;
  text-shadow: 0 0 0.5em #2f2926, 0 0 0.2em #2f2926;
  text-decoration: none;
}

header {
  background-image: url('/assets/rkhsk-nunchaku-754.png');
  background-size: cover;
  min-height: 10em;
  background-position: 50% 50%;
}

@media only screen and (min-width: 820px) {
  header {
    background-image: url('/assets/rkhsk-nunchaku-1507.png');
  }
}

h2 {
  border-bottom: 2px solid #2f2926;
  outline: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img,
svg {
  vertical-align: middle;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
     (-webkit-min-device-pixel-ratio: 1.25),
     (min-resolution: 1.25dppx),
     (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

ul {
  list-style: circle;
  padding-left: 1.5em;
}

.logo {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 1em;
}

.face-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 28em) {
  .face-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.face-image {
  width: 175px;
  height: 140px;
  margin-right: 1em;
}

h2 a {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: black;
  outline: none;
}

h2:hover a::after {
  content: '#';
  display: block;
  position: absolute;
  color: #2f2926;
  top: 0;
  right: -1.2em;
  width: 1em;
  height: 1em;
}
